<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkzKtsuT89n3j0oWEKYNBgXEyYql8nUUw</string>
	<key>GCM_SENDER_ID</key>
	<string>517554847633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pvvyaltsev.BarterExchangeApp</string>
	<key>PROJECT_ID</key>
	<string>barter-exchange-app-b3873</string>
	<key>STORAGE_BUCKET</key>
	<string>barter-exchange-app-b3873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517554847633:ios:309e8476ab9c341de1a430</string>
</dict>
</plist>